body {
    background: #121212;
    color: #ffffff;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content {
    position: absolute;
    height: auto;
    width: auto;    
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);    
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

ul {
    padding: 0;
}

.link {
    display: inline-block;
}

.icon {
    width: 2em;
    height: 2em;
}
